html,body{
	font-size: .12rem;
}
@font-face {
	font-family: "iconfont";
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/iconfont.ttf') format('truetype');
}
@font-face {
	font-family: "futurabqbook";
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/futurabqbook.ttf') format('truetype');
}
.futurabqbook{
	font-family: "futurabqbook";
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	position: relative;
}
.iconfont {
	font-family: "iconfont";
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	position: relative;
	margin-top: 3px;
}

.mui-bar-tab a .iconfont~.mui-tab-label {
	font-size: 11px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.iconfont.iconfont-right:before {
	float: right;
	padding-left: .2em;
}

.iconfont .mui-badge {
	font-size: 10px;
	line-height: 1.4;
	position: absolute;
	top: -2px;
	left: 100%;
	margin-left: -10px;
	padding: 1px 5px;
	color: white;
	background: red;
}

.mui-bar-tab a .iconfont~.mui-tab-label {
	font-size: 11px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mui-bar-tab a.mui-active {
	color: #da251d;
}

.mui-bar-tab a {
	display: table-cell;
	overflow: hidden;
	width: 100%;
	height: 45px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #929292;
}

.icon-all:before {
	content: "\e696";
}

.icon-back:before {
	content: "\e697";
}

.icon-cart:before {
	content: "\e698";
}

.icon-category:before {
	content: "\e699";
}

.icon-close:before {
	content: "\e69a";
}

.icon-cry:before {
	content: "\e69c";
}

.icon-delete:before {
	content: "\e69d";
}

.icon-edit:before {
	content: "\e69e";
}

.icon-email:before {
	content: "\e69f";
}

.icon-favorite:before {
	content: "\e6a0";
}

.icon-form:before {
	content: "\e6a2";
}

.icon-help:before {
	content: "\e6a3";
}

.icon-information:before {
	content: "\e6a4";
}

.icon-less:before {
	content: "\e6a5";
}

.icon-moreunfold:before {
	content: "\e6a6";
}

.icon-more:before {
	content: "\e6a7";
}

.icon-pic:before {
	content: "\e6a8";
}

.icon-qrcode:before {
	content: "\e6a9";
}

.icon-search:before {
	content: "\e6ac";
}

.icon-set:before {
	content: "\e6ae";
}

.icon-smile:before {
	content: "\e6af";
}

.icon-success:before {
	content: "\e6b1";
}

.icon-survey:before {
	content: "\e6b2";
}

.icon-viewgallery:before {
	content: "\e6b4";
}

.icon-viewlist:before {
	content: "\e6b5";
}

.icon-warning:before {
	content: "\e6b6";
}

.icon-wrong:before {
	content: "\e6b7";
}

.icon-account:before {
	content: "\e6b8";
}

.icon-remind:before {
	content: "\e6bc";
}

.icon-discount:before {
	content: "\e6c5";
}

.icon-box:before {
	content: "\e6cb";
}

.icon-electronics:before {
	content: "\e6da";
}

.icon-gifts:before {
	content: "\e6db";
}

.icon-browse:before {
	content: "\e6e6";
}

.icon-scanning:before {
	content: "\e6ec";
}

.icon-filter:before {
	content: "\e6f1";
}

.icon-similarproduct:before {
	content: "\e6f6";
}

.icon-gerenzhongxin:before {
	content: "\e70b";
}

.icon-map:before {
	content: "\e715";
}

.icon-bad:before {
	content: "\e716";
}

.icon-good:before {
	content: "\e717";
}

.icon-share:before {
	content: "\e71d";
}

.icon-store:before {
	content: "\e722";
}

.icon-phone:before {
	content: "\e725";
}

.icon-mobilephone:before {
	content: "\e72a";
}

.icon-wxbzhuye:before {
	content: "\e61f";
}

.icon-templatedefault:before {
	content: "\e74a";
}

.icon-data:before {
	content: "\e757";
}

.icon-trade:before {
	content: "\e758";
}

.icon-favorites:before {
	content: "\e7ce";
}

.icon-password:before {
	content: "\e82b";
}

.icon-code:before {
	content: "\e842";
}

.icon-bianji:before {
	content: "\e605";
}

.icon-anquan:before {
	content: "\e606";
}

.icon-chexiao:before {
	content: "\e607";
}

.icon-daifahuo:before {
	content: "\e608";
}

.icon-daishouhuo:before {
	content: "\e609";
}

.icon-dianzan:before {
	content: "\e60a";
}

.icon-diannao:before {
	content: "\e60b";
}

.icon-dianhua:before {
	content: "\e60c";
}

.icon-dingwei:before {
	content: "\e60d";
}

.icon-fanhui:before {
	content: "\e60e";
}

.icon-fanhui1:before {
	content: "\e60f";
}

.icon-fenlei:before {
	content: "\e610";
}

.icon-fenlei1:before {
	content: "\e611";
}

.icon-fanxian:before {
	content: "\e612";
}

.icon-fenxiang:before {
	content: "\e613";
}

.icon-fenxiang1:before {
	content: "\e614";
}

.icon-geren:before {
	content: "\e615";
}

.icon-gengduo:before {
	content: "\e616";
}

.icon-gouwu:before {
	content: "\e617";
}

.icon-gouwuche:before {
	content: "\e618";
}

.icon-gengduo1:before {
	content: "\e619";
}

.icon-guanbi:before {
	content: "\e61a";
}

.icon-guanbi1:before {
	content: "\e61b";
}

.icon-guanbi2:before {
	content: "\e61c";
}

.icon-jianshao:before {
	content: "\e61d";
}

.icon-jianshao1:before {
	content: "\e61e";
}

.icon-kefu:before {
	content: "\e620";
}

.icon-lianjie:before {
	content: "\e621";
}

.icon-jishi:before {
	content: "\e622";
}

.icon-liwu:before {
	content: "\e623";
}

.icon-liebiao:before {
	content: "\e624";
}

.icon-paihang:before {
	content: "\e625";
}

.icon-liebiao1:before {
	content: "\e626";
}

.icon-remen:before {
	content: "\e627";
}

.icon-shanchu:before {
	content: "\e628";
}

.icon-shangchuan:before {
	content: "\e629";
}

.icon-rili:before {
	content: "\e62a";
}

.icon-shangyibu:before {
	content: "\e62b";
}

.icon-shoucang:before {
	content: "\e62c";
}

.icon-shezhi:before {
	content: "\e62d";
}

.icon-shoucang1:before {
	content: "\e62e";
}

.icon-shipin:before {
	content: "\e62f";
}

.icon-shouji:before {
	content: "\e630";
}

.icon-shu:before {
	content: "\e631";
}

.icon-sousuo:before {
	content: "\e632";
}

.icon-tishi:before {
	content: "\e633";
}

.icon-suo:before {
	content: "\e634";
}

.icon-tianjia:before {
	content: "\e635";
}

.icon-tongzhi:before {
	content: "\e636";
}

.icon-tuikuan:before {
	content: "\e637";
}

.icon-tongzhi1:before {
	content: "\e638";
}

.icon-tianjia1:before {
	content: "\e639";
}

.icon-wenjian:before {
	content: "\e63a";
}

.icon-wenzhang:before {
	content: "\e63b";
}

.icon-xiazai:before {
	content: "\e63c";
}

.icon-wenti:before {
	content: "\e63d";
}

.icon-xiaoxi:before {
	content: "\e63e";
}

.icon-xiaoxi1:before {
	content: "\e63f";
}

.icon-xinfeng:before {
	content: "\e640";
}

.icon-xinxi:before {
	content: "\e641";
}

.icon-xunhuan:before {
	content: "\e642";
}

.icon-zhangdan:before {
	content: "\e643";
}

.icon-youhuiquan:before {
	content: "\e644";
}

.icon-zhaopian:before {
	content: "\e645";
}

.icon-zhengque:before {
	content: "\e646";
}

.icon-youhuiquan1:before {
	content: "\e647";
}

.icon-zhengque1:before {
	content: "\e648";
}

.icon-zhuye:before {
	content: "\e649";
}